@charset "utf-8";
/* CSS Document */
body{
	background: #E16A02;
	color: antiquewhite;
}

.jumbotron{
	background: none;
}
a{
	color: cornflowerblue;
	text-decoration: none;
}
a:hover{
	color: aquamarine;
	text-decoration: none;
}